<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Demo</title>
    <link rel="stylesheet" href="/css/list.css">

</head>
<body>

<div class="container" id="container"></div>
<div style="width: 100%;height: auto;display: flex;align-items: center;justify-content: center;">
    <div class="add-btn" id="add-btn">添加一个元素</div>
    <div class="add-btn" id="del-btn">删除一个元素</div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>
<script src="/js/list.js"></script>
</body>
</html>